nav {
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-image: url('../assets/black_background3.png');
    padding: 10px;
    font-weight: bold;
  }

  a{
    margin-right: 5px;
    margin-left: 5px;
  }