.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  background-image: url('./assets/black_background3.png');
  border-radius: 6px;
  color: white;
  padding-bottom: 20px;
}

body{
  background-image: url('./assets/background-boxes-celebration-1303081.jpg');
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  font-family: 'Quicksand', sans-serif;
}

h1{
  font-size: 500%;
  font-family: 'Calligraffitti'
}

form{
  margin-bottom: 10px;
}

a{
  color: white;
  text-decoration: none;
  font-size: large;
}

a:hover{
  color:rgb(212, 154, 154);
  cursor: pointer;
}

li{
  list-style: none;
}

ul{
  padding: 0;
  text-align: center;
}

input{
  font-family: 'Quicksand', sans-serif;
  font-size: large;
  height: 30px;
  border-radius: 2px;
  margin: 5px;
}

select{
  font-family: 'Quicksand', sans-serif;
  font-size: medium;
  height: 30px;
  width: 150px;
  border-radius: 2px;
  margin: 5px;
}

button{
  font-family: 'Quicksand', sans-serif;
  font-size: large;
  height: 30px;
  width: 150px;
  border-radius: 2px;
  margin: 5px;
}

select:hover{
  cursor: pointer;
}

.search{
  display: inline-block;
}

.deleteGift{
  width: auto;
  font-weight: bold;
  border-style: none;
  background-color: transparent;
  color: white;
  margin: 0;
}

.deleteGift:hover{
  color:rgb(212, 154, 154);
  cursor: pointer;
  transition-duration: 0.2s;
}

.giftPreview{
  padding:10px;
  border-radius: 3px;
}

.giftPreview:hover{
  border-radius: 3px;
  transition-duration: 0.1s;
}

.transition:hover{
  transition-duration: 0.2s;
}

.submit{
  border: 0;
  width: auto;
  background-color: rgb(197, 197, 197);
  display: inline-block;
}

.submit:hover{
  cursor: pointer;
  background-color: white;
  transition-duration: 0.2s;
}

h2{
margin: 10px;
}

.giftInfo{
  margin-top: 54px;
  padding: 20px;
}

#description{
  width: 300px;
}

.giftLi{
  width: 30%;
  display: inline-block;
  margin: 5px;
}

.giftLi:hover{
  border-radius: 3px;
  background-image: url('./assets/black_background3.png');
}
.carouselLi{
  width:25%;
  display: inline-block;
}

.carouselLi:hover{
  background-image: url('./assets/black_background3.png');
  border-radius: 3px;
}

h2{
  display: inline-block;
}

.deleteList{
  border: 0;
  width: auto;
  background-color: rgb(197, 197, 197);
  display: inline-block;
  font-size: small;
  vertical-align: 15%;
}

.deleteList:hover{
  cursor: pointer;
  background-color: white;
  transition-duration: 0.2s;
}

h3{
  margin-bottom: 0;
}

.searchResultGift{
  width:25%;
  display: inline-block;
}

.giftLink:hover{
  text-decoration: underline;
  transition-duration: 0.2s;
}

.linkButton{
  font-family: 'Quicksand', sans-serif;
  font-size: large;
  height: 30px;
  width: 150px;
  border-radius: 2px;
  margin: 5px;
  color: black;
  background-color: rgb(197, 197, 197);
  padding-top: 4px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

.linkButton:hover{
  color: black;
  background-color: white;
}

.home{
  margin-top: 150px;
}

#giftInfoHeader{
  margin-top: 0;
  margin-bottom: 20px;
}

#createAccountHeader{
  padding-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .carouselLi{
    width: 100%
  }
  .giftLi{
    width: 100%
  }
}